@import "themes";

ul {
  padding-left: 0;
}
//
//.App {
//  margin: 50px;
//}
//
//.address-bar {
//  padding: 10px;
//  border: 1px solid black;
//  border-radius: 20px;
//  width: 100%;
//}
//
//.url-editor {
//  width: 500px;
//  padding: 10px;
//  margin-top: 20px;
//}

//.query-param-input label {
//  display: inline-block;
//  width: 100px;
//}

.app-button {
  padding: 0.375rem 0.8rem;
  border: 0;
  border-radius: 10px;
  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
  background-color: var(--bg-color-1);
  color: var(--button-text-color);
}

.app-button:focus-visible, .app-button:hover {
  background-color: var(--bg-color-1-hover);
  box-shadow: var(--focus-shadow);
  outline: 0;
}

.apply-button {
  margin-top: 20px;
  background-color: var(--bg-color-3);
}

.apply-button:focus-visible, .apply-button:hover {
  background-color: var(--bg-color-3-hover);
}

.app-title {
  background-color: var(--bg-color-2);
  color: #ffffff;
  padding: 10px 20px;
}

.popup {
  padding: 10px 20px;
}