body {
    overflow-y: scroll;
}

.settings-pages {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.preset-item,
.package-item {
    margin: 10px 0;
    padding: 20px;
}

.package-name-wrapper {
    position: relative;
}

.package-name-edit {
    position: absolute;
    top: 0;
}

.package-name-view.hidden-x,
.package-name-edit.hidden-x {
    visibility: hidden;
}

.quick-actions-presets-input {
    margin-top: 10px;
}

.multi-param-input-row {
    margin-top: 10px;
}

.multi-param-input-key {
    margin-right: 10px;
}

.preset-name-wrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.preset-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.package-name-view {
    display: flex;
    flex-direction: row;
}
