/*https://flatuicolors.com/palette/ca*/
[data-theme="jigglypuff"] {
    --bg-color-1: rgba(84, 160, 255,1.0);
    --bg-color-1-hover: rgba(46, 134, 222,1.0);
    --bg-color-2: rgba(95, 39, 205,1.0);
    --bg-color-2-hover: rgba(52, 31, 151,1.0);
    --bg-color-3: rgba(0, 210, 211,1.0);
    --bg-color-3-hover: rgba(1, 163, 164,1.0);

    --bg-color-4: #4f46e5;

    --button-text-color: #ffffff;

    --focus-shadow: 0 0 0 0.2rem rgba( 49,132,253 , .5)
}