.query-param-input {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;

    .MuiOutlinedInput-root {
        min-height: 50px;
    }
}

.query-param-input-key {
    flex: 1;
}

.query-param-input-value {
    flex: 2;
}

.query-param-input-delete-slot {
    flex: 0 0 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}