body {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
}

.popup {
  min-height: 500px;
  width: 700px;
  padding: 20px;
  display: grid;
  background-color: var(--mui-background-default, #181943);
  /* fallback for dark mode */
}
