.url-editor {
  position: relative;
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
  //gap: 20px;
}

.row1 {
  grid-area: 1/1/2/2;
}

.row2 {
  grid-area: 2/1/3/2;
}

.row3 {
  grid-area: 3/1/4/2;
}

.row4 {
  grid-area: 4/1/5/2;
}


.search-params-container {
  margin-top: 10px;
  padding: 0 14px;
}
