.url-editor {
  display: grid;
  grid-template-rows: min-content min-content 1fr min-content;
  gap: 20px;
}

.presets-picker-container {
  display: flex;
  gap: 10px;
}

.presets-picker {
  flex: 1;
}